VITE_API_KEY=api-key-should-take-from-rapidapi

https://rapidapi.com/ytjar/api/yt-api

# ⚠️ RapidAPI Notice
# The /home endpoint is deprecated and returns 403.
# For testing purposes, use:
# /search?query=javascript

VITE_API_ENDPOINT=/search?query=javascript
