@import "tailwindcss";


/* Tailwindcss değişken tanımlama (css root yerine)*/
@theme {
/* Kendi renk tonlarımı belirleme*/
--color-black: #0f0f0f;
--color-white: #ffffff;
--color-grey: #3f3f3f;
}

/* JSX elementlerine varsayılan stiller verelim.*/
@layer base {
button {
@apply cursor-pointer;
}
body {
@apply bg-black text-white;
}
}

/* Kendi oluşturduğımız class larımızı tailwindcss ile stillendirelim.*/
@layer components {
.icon {
@apply p-2 hover:bg-zinc-700 transition rounded-full;
}

.page{
 @apply h-[calc(100vh-56px)] w-full flex-1 py-6 px-4
}

}